<!DOCTYPE html>

{{define "recent"}}
  {{range $index, $blob := .}}
    <a class="pretty" onclick="toggleContent({{$blob.Ref}})">{{$index}}. {{$blob.Ref}}</a>
    <code id="{{$blob.Ref}}">{{html $blob.Content}}</code><br>
  {{end}}
{{end}}

<html>
  <head>
    <title>RWC Cas</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="grid.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body id="body">

    <div class="row">
      <h1>Recent Blobs</h1>
    </div>

    <div class="row">
      <div class="column grid_12">
        {{template "recent" .}}
      </div>
    </div>

    <script type="text/javascript" src="main.js"></script>
  </body>
</html>

