{{define "piclist"}}
  {{range .}}
    <img src="{{.Path}}" width="300" />
    <br>
  {{end}}
{{end}}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />

<div class="container">

  <div class="row">
    <div class="span12">
      <h1>Recent Pics</h1>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      {{template "piclist" .}}
    </div>
  </div>

</div>

<script type="text/javascript" src="main.js"></script>

